<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088094081121-nqha8akr4l3qvptai2mt40etbs3orh2e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088094081121-nqha8akr4l3qvptai2mt40etbs3orh2e</string>
	<key>API_KEY</key>
	<string>AIzaSyAF47qeMEzVlf3f_3uHSBEZnFvI2is_sJs</string>
	<key>GCM_SENDER_ID</key>
	<string>1088094081121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Mojjan4.Chat4App</string>
	<key>PROJECT_ID</key>
	<string>chat4app-a6a11</string>
	<key>STORAGE_BUCKET</key>
	<string>chat4app-a6a11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088094081121:ios:c5f21b5499e687a1a25a20</string>
</dict>
</plist>